$main_bg_color: rgb(7, 0, 21);
$back_fon: rgb(160, 160, 160,0.2);
$color_style: rgb(98, 36, 223);
$color_style_shadow: rgba(98, 36, 223, 0.4);
$color_main_text: rgb(255, 255, 255);
$color_sub_text: rgb(147, 147, 147);

$size_second_title: 30px;
$size_third_title: 20px;
$size_main_text: 15px;
$size_small_text: 13px;
